<template name="labSlick">
  <div id="carousel">
    <div><img src="http://placehold.it/720x240" class="col-md-12" /></div>
    <div><img src="http://placehold.it/720x240" class="col-md-12" /></div>
    <div><img src="http://placehold.it/720x240" class="col-md-12" /></div>
    <div><img src="http://placehold.it/720x240" class="col-md-12" /></div>
    <div><img src="http://placehold.it/720x240" class="col-md-12" /></div>
    <div><img src="http://placehold.it/720x240" class="col-md-12" /></div>
  </div>
  <div style="margin-bottom: 20px"><span class="label label-info">说明</span></div>
  <ul>
    <li>Meteor Slick 和 <a href="https://github.com/kenwheeler/slick">Kenwheeler</a> 的 Slick 差不多，不过因为内置 Meteor 了，下载方便一些，可以通过 <code>meteor add strikeout:slick</code> 来安装</li>
    <li>实际测试上，其实还是缺失一些 CSS 文件，还有 Fonts 文件；CSS 文件直接通过 Kenwheeler 上去下载，Font 可以放置在 /public 目录中来访问。</li>
  </ul>
</template>